body{
	margin-bottom: 40px;
}
#loaders{
	display: none;
}
.display_image{
		width: 200px;
		height: 300px;
	}
	.big_image{
		width: 300px;
		height: 400px;
	}
	
	.medium_image{
		width: 200px;
		height: 300px;
	}

.mar-t-10{
	margin-top: 10px;
}
.btn-height{
	height: 100% !important;
}
.img-width-inherit{
	width: inherit;
}
.menu-container{
				height: 70px;
			}

			.menushadow{
				box-shadow: #ccc 1px 2px 1px 1px;
			}
			.header-text-color{
				color: #55ABE9;
			}
			.side-menu-container{
				background: #F5F5F5;
			}
			.side-menu-container li{
				background: transparent;
				border-color:#D3EAFC;
			}
			.side-menu-container a{
				color:#B9B9B9;
			}
			.active{
				background-color: #1D90E2 !important;
				
			}
			.active2 a{
				background-color: rgba(0, 0, 0, 0.3) !important;
				
			}
			.active a{
				color: #fff !important;
			}
			.content-area{
				border: solid 1px #F5FBFF;
				
				border-radius: 10px;
				padding-top: 20px;
				margin-bottom: 30px;
				padding-bottom: 20px;
				
			}
			.notification-container{
				margin-top:50px;
				margin-bottom: 20px;
				
			}
			.notification-container-content{
				width:60%;
				background: #D5D4FF;
				height: 50px;
				border-radius: 7px;
				
			}
			
			.notification-container-content h6{
				color: #FD0608;
			}
			
		
			
			.custom-file-label::after {
				left: 0;
				right: auto;
				border-left-width: 0;
				border-right: inherit;
				content: "Select Image";
			}
			.custom-file{
				margin-top: 33px;
				width: 70%;
			}
			.content-form-area{
				
				border: solid 2px #F5FBFF;
				
				border-radius: 8px;
				padding-top: 40px;
				padding-left: 40px;
				padding-right: 40px;
				
				margin-bottom: 20px;
				padding-bottom: 20px;
			}
			
			.form-area{
				border: solid 1px #8EC7F0;
				border-radius: 8px;
				padding-top: 20px;
				padding-bottom: 20px;
			}
			.box-label{
				position: absolute;
				top:-14px;
				background: #fff;
				padding-right: 10px;
				padding-left: 10px;
				color: #8EC7F0;
				font-size: 14px;
				text-transform: capitalize;
			}
			.button-design{
				width: 100%;
				height: 72px;
				text-transform: uppercase;
			}
			
			.button-design_medium{
				width: 80%;
				height: 60px;
				margin-top: 10px;
			}
			
			.button-border{
				border:solid 2px #1D90E2;
			}
			
			.button-row{
				margin-top: 20px;
			}
			.nextofkin1{
				width: 50%;
			}
			label{
				width: 100%;
			}
			
			.custom-control-label::after{
				border-color: #1D90E2;
				border-width: 2px;
				border-style: solid;
			}
.imgtins{
		width: 100px;
		height: 150px;
	}
